{% extends 'base_new.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="div_wrapper">
        <div class="form_addprod">
            <div class="form_addprod_intro_wrapper">
                <div class="form_addprod_intro"></div>
                <div class="form_addprod_intro_text">
                    {{ title }}<br>{{ product.name|wordwrap:40|linebreaksbr}}
                </div>
            </div>
            <div class="form_addprod_field">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    {% for f in form %}
                    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                    <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}
                    <p><button type="submit">Сохранить</button></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
