{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link
      type="text/css"
      href="{% static 'stock/css/main.css' %}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="page">
        <div class="header">
          <ul class="mainmenu">
            {% for m in menu %}
              {% if m.title == "Dropdown" %}
              <li class="dropdown">
              {%elif forloop.last %}
                <li class="last">
              {% else %}
                <li>    
              {% endif %}
              <a href="{% url m.url_name%}">{{m.title}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>

      {% block content %}
      {% endblock %}

      </div>
      <div class="footer">
        <p>&copy; Lorem, ipsum dolor.</p>
        <p>&nbsp;</p>
        <p>
          &copy; Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Consequuntur, neque.
        </p>
        <p>&copy; Какой то очень неинтересный текст</p>
      </div>
    </div>
  </body>
</html>
